<h1><%= @blogger.name %></h1>

<% @blogger.posts.sum do |post|  %>
  likes: <%= post.likes %><br>
<% end %>

<%# Users should be able to see the profile page of a blogger. On this page, a user should see:
The total likes on all of that blogger's posts
A link to that blogger's featured post (the post with the most likes)
BONUS A list of that user's top 5 most written about destinations (the destinations with the most posts) %>





